@model IEnumerable<DataBase.Models.Service>

@{
    ViewData["Title"] = "Index";
}

<h1>Послуги</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Створити нову</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Назва послуги</th>
            <th>Вартість</th>
            <th>Опис</th>
            <th>Картинка</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ServicesName)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ServiceImg))
                    {
                        <img src="@item.ServiceImg" alt="Service Image" class="img-thumbnail" style="max-width: 100px;" />
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ServicesId" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ServicesId" class="btn btn-sm btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ServicesId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>