@model DataBase.Models.Room

@{
    ViewData["Title"] = "Room Details";
}

<h1>Деталі</h1>

<div>
    <h4>Кімната</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Номер кімнати:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>

        <dt class="col-sm-2">
            Тип кімнати:
        </dt>
        <dd class="col-sm-10">
            @Model.RoomType.TypeName
        </dd>

        <dt class="col-sm-2">
            Місткість:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomType.Capacity)
        </dd>

        <dt class="col-sm-2">
            Ціна за ніч:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomType.Price)
        </dd>

        <dt class="col-sm-2">
            Опис
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomType.Description)
        </dd>

        <dt class="col-sm-2">
            Доступність
        </dt>
        <dd class="col-sm-10">
            @if (Model.IsAvailable)
            {
                <span class="text-success">Вільна</span>
            }
            else
            {
                <span class="text-danger">Зайнята</span>
            }
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.RoomId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

