@model DataBase.Models.RoomType

@{
    ViewData["Title"] = "Details";
}

<h1>Деталі</h1>

<div>
    <h4>Тип кімнати</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Назва типу
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeName)
        </dd>
        <dt class="col-sm-2">
           Ціна
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            Опис
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Місткість
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class="col-sm-2">
            Картинка
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <a href="@Model.ImageUrl" target="_blank">
                    <img src="@Model.ImageUrl" alt="@Model.TypeName" style="max-height: 200px; max-width: 300px;" />
                </a>
            }
            else
            {
                <span>No Image</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

